.loginForm{
    width: 60% !important;
    height: 400px;
    background-color: #707ecc;
    margin-top: 100px;
    border: 5px solid rgb(219, 207, 140);
    border-radius: 20px;
    text-align: center;
}

.loginForm h3{
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-weight: 300;
    margin-top: 45px;
}

.loginForm{
    justify-content: center;
    align-items: center;   
    width: 30%;
    margin-left: 200px;
}

.loginRequirements{
    justify-content: center;
    align-items: center;
}

input{
    width: 400px;
    box-shadow: #fff;   
}

#email{
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#password{
    margin-bottom: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

form{
    background-color: #707ecc;
    border-radius: 30px;
   
}

.loginForm button{
    color: #000;
    text-decoration: none;
    padding-left: 10px;
    color: #fff;
    margin-left: 350px;
}

.forgot{
    text-decoration: none;
    color: white;
}

p{
    color: #000;
    padding-top: 10px;
}

.signup{
    color: #000;
    text-decoration: none;
    margin-top: 5px;
}

.login{
    margin-top: 20px;
    justify-content: center;
    width: 80px;
    background-color: rgb(236, 68, 68);
    border-radius: 5px;
    border: 2px solid rgb(219, 207, 140);
    margin-bottom: 10px;   
    display: flex; 
}

.login:hover{
    color: #fff;
    font-size: 15px;
}

.signup:hover{
    color: #fff;
    font-size: 15px;
}

.forgot:hover{
    color: #fff;
    font-size: 15px;
}

@media(max-width: 768px){
    .login h3{
        font-size: 14px;
        text-align: center;
    }

    form{
        height: 70px;
        overflow: visible;
        width: 20%;
    }

    input{
        width: 170px;
        box-shadow: #fff;  
    }

    .loginForm{
        width: 60% !important;
        height: 350px;
        background-color: #707ecc;
        text-align: center;
    }
    
    .loginForm h3{
        font-size: 13px;
    }

    #email{
        margin-left: 15px;
    }

    #password{
        margin-left: 15px;
        margin-top: -70px;
    } 

    #email ::placeholder{
        font-size: 10px !important;
    }

    #password ::placeholder{
        font-size: 10px;
    }

    #loginButton{
        font-size: 12px;
        width: 60px;
        margin-left: 65px;   
        margin-top:5px;
    }

    p{
        margin-top: -300px;
        margin-bottom: -10px;
        color: #000;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        white-space: nowrap;
    }
    
    .signup{
        color: #000;
        margin-top: 0px;
        margin-bottom: -10px;
        font-size: 12px;
        margin-left: 80px;
        white-space: nowrap;
    }

    .forgot{
        font-size: 12px;
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-left: 55px;
        white-space: nowrap;
    }

    .forgot:hover{
        color: #fff;
        font-size: 12px;
    }

    .signup:hover{
        color: #fff;
        font-size: 12px;
    }
}
