.SignupForm{
    width: 60% !important;
    height: 500px;
    background-color: #707ecc;
    margin-top: 100px;
    border: 5px solid rgb(219, 207, 140);
    border-radius: 20px;
    text-align: center;
}

img{
    width: 120px;
    height: 80px;
    margin-top: 20px;
}

.SignupForm{
    justify-content: center;
    align-items: center;   
    width: 30%;
    margin-left: 200px;
}

input{
    width: 400px;
    box-shadow: #fff;   
}

#email{
    margin-bottom: 20px;
    margin-top: 20px;
    
}

#password{
    margin-top: 20px;
    margin-bottom: 20px;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

form{
    background-color: #707ecc;
    border-radius: 30px;
   
}

.SignupForm button{
    color: #000;
    text-decoration: none;
    padding-left: 10px;
    color: #fff;
    margin-left: 350px;
}

p{
    color: #000;
    padding-top: 10px;
}

.login{
    color: #000;
    text-decoration: none;
    margin-top: 5px;
}

.signup{
    margin-top: 20px;
    justify-content: center;
    width: 80px;
    background-color: rgb(236, 68, 68);
    border-radius: 5px;
    border: 2px solid rgb(219, 207, 140);
    margin-bottom: 10px;   
    display: flex; 
}

.login:hover{
    color: #fff;
    font-size: 15px;
}

.signup:hover{
    color: #fff;
    font-size: 15px;
}

@media(max-width: 768px){
    img{
        width: 90px;
        height: 60px;
        margin-bottom: -10px;
    }
    form{
        height: 70px;
        overflow: visible;
        width: 20%;
    }

    input{
        width: 170px;
        box-shadow: #fff;  
    }

    .SignupForm{
        width: 60% !important;
        height: 400px;
        background-color: #707ecc;
        text-align: center;
    }
    
    #email{
        margin-left: 15px;
    }

    #confirmEmail{
        margin-bottom: 20px;
        margin-left: 15px;
    }

    #password{
        margin-left: 15px;
        margin-top: -70px;
    } 

    #confirmPassword{
        margin-left: 15px;
    }

    #email ::placeholder{
        font-size: 10px !important;
    }

    #password ::placeholder{
        font-size: 10px;
    }

    #signupButton{
        font-size: 12px;
        width: 60px;
        margin-left: 65px;   
        margin-top: 20px;
        white-space: nowrap;
    }

    p{
        margin-top: -300px;
        margin-bottom: -10px;
        color: #000;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        white-space: nowrap;
    }
    
    .SignupForm .login{
        color: #000;
        /* margin-bottom: 0px; */
        font-size: 12px;
        margin-left: 80px;
        white-space: nowrap;
    }

    .login:hover{
        color: #fff;
        font-size: 12px;
    }
}
