#landingPage{
    width: 100%;
    height: 600px;
    background-color: #707ecc;
}

.container-fluid h2{
    text-align: center;
    font-size: 40px;
    color: rgb(219, 207, 140);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    padding: 0%;
    margin: 0;
}

.nav-item:hover{
    color: #fff;
    font-size: 20px;
}

.navbar img{
    width: 120px;
    height: 80px;
    margin-top: 0px;
}

.search{
    background-color: #fff;
}

#carouselExampleFade{
    width: 90%;
    margin: auto;
    margin-top: 0px;
}

.carousel-inner{
    height: 450px;
    border: 5px solid rgb(219, 207, 140);
    border-radius: 10px;
}

.ankara{
    height: 240px;
    width: 220px;
    padding: 10px;
    margin-left: -8px;
}

.hermesbag{
    height: 250px;
    width: 85%;
    padding-left: 25px;
}

.ankarabag{
    padding-bottom: -300px;
}

.lace{
    height: 220px;
    width: 200px;
    padding: 10px;
    margin-left: 8px;
}

.col .card{
    background-color: #fff;
    margin-top: 50px;
    width: 100%;
    border: 5px solid #707ecc;

}

.button{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.button:hover{
    color: #fff;
    font-size: 20px;
}

.card-title{
    margin-top: 20px;
}

.price{
    /* margin-top: 5px; */
    color: red;
}

.information{
    margin-top: 50px;
    width: 100%;
    height: 500px;
}

.information img{
    height: 500px;
    width: 100%;
}

.information h2{
    margin-top: -250px;
    color: #000;
    font-weight: 200;
}

.information h3{
    text-align: center;
    font-size: 35px;
    color: #000;
}

.information .celebrate{
    height: 60px;
    width: 10%;
}

.information .celebration{
    height: 60px;
    width: 10%;
    margin-top: -500px;
    margin-left: 600px;
}

h3 em{
    font-size: 50px;
    color: red;
}

.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(219, 207, 140); 
    margin-top: 50px;
}

.social{
    height: 20px;
    width: 2%;
}

.footer .name{
    background-color: #707ecc;
    width: 20%;
    border-radius: 20px;
    color: #fff;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    
    /* margin-top: 10px; */
}

.accounts{
    
}
.name h4{
    font-size: 25px;
}

@media(max-width: 768px){
   .container-fluid h2{
        font-size: 17px;
    }

    .navbar img{
        height: 40px;
        width: 60px;
    }

    #landingPage{
        height: 320px;
    }

    .carousel-inner{
        height: fit-content;
    }

    .card .ankara{
        margin-left: 20px;
        height: 200px;
        width: 220px;  
    }

    .col .card{
        width: 30px;
        height: 180px;
    }

    
    
}



