#landingPage{
    width: 100%;
    height: 600px;
    background-color: #707ecc;
}

.container-fluid h2{
    text-align: center;
    font-size: 40px;
    color: rgb(219, 207, 140);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    padding: 0%;
    margin: 0;
}

.nav-item:hover{
    color: #fff;
    font-size: 20px;
}

.navbar img{
    width: 120px;
    height: 80px;
    margin-top: 0px;
}

.search{
    background-color: #fff;
}

#carouselExampleFade{
    width: 90%;
    margin: auto;
    margin-top: 0px;
}

.carousel-inner{
    height: 450px;
    border: 5px solid rgb(219, 207, 140);
    border-radius: 10px;
}

.ankara{
    height: 240px;
    width: 220px;
    padding: 10px;
    margin-left: 10px;
}

.col .card{
    background-color: #fff;
    margin-top: 50px;
    width: 90%;
    border: 5px solid #707ecc;
}

.card-title{
    margin-top: -22px;
}

.card-text{
    margin-top: -10px;
    color: red;
}


@media(max-width: 768px){
   .container-fluid h2{
        font-size: 25px;
    }

    .navbar img{
        height: 50px;
        width: 70px;
    }

    #landingPage{
        height: 320px;
    }

    .carousel-inner{
        height: fit-content;
    }

    .card .ankara{
        margin-left: 20px;
        height: 200px;
        width: 220px;
        align-content: center;
        justify-content: center;
    }

    .card-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}



