#landingPage{
    height: 500px;
    width: 100%;
    background-color: hotpink;
}

.nav-link:hover{
    color: #d36262;
    font-size: 20px;
}

.navbar img{
    width: 140px;
    height: 140px;
}
/* .container-fluid{
    background-color: hotpink;
} */
